<% include ../partials/header %>

    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to natureCalling <span><i class="fas fa-campground"></i></span></h1>
            <p class="lead">"One touch of nature makes the whole world kin."</p>
            <p>View our hand-picked campgrounds from all over the world.</p>
            <p><a class="btn btn-primary btn-sm" href="/campgrounds/new" role="button">Add New campground</a></p>
            <p>
                <form action="/campgrounds" method="GET" class="form-inline">
                    <div class="form-group">
                        <input type="text" name="search" placeholder="campground search.." class="form-control">
                        <input type="submit" value="search" class="btn btn-default">
                    </div>
                </form>
            </p> 
        </div>                     
    </header>

    <!-- <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <div class="col-md-12">
            <% if(noMatch !== null) { %>
            <h3><%= noMatch %></h3>
            <p>
               <form action="/campgrounds" method="GET" class="form-inline">
                   <div class="form-group">
                       <input type="text" name="search" placeholder="Campground search..." class="form-control">
                       <input type="submit" value="Search" class="btn btn-default">
                   </div>
               </form>
           </p>
            <% } %>
        </div>
       <% campgrounds.forEach(function(campground){ %>
           <div class="col-md-3 col-sm-6">
               <div class="thumbnail">
                  <img src="<%= campground.image %>">
                  <div class="caption">
                      <h4><%= campground.name %></h4>
                  </div>
                  <p>
                      <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
                  </p>
               </div>
           </div>
       <% }); %>
   </div> -->
   <div class="row text-center" style="display:flex; flex-wrap: wrap;">
    <% campgrounds.forEach(function(campground){ %>
    <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
            <img src="<%= campground.image %>">
            <div class="caption">
                <h4><%= campground.name %></h4>
                <% if (campground.rating === 0) { %>
                <em>No reviews yet.</em>
                <% } else { %>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star <% if (campground.rating > 1.5) { %> checked <% } %>"></span>
                <span class="fa fa-star <% if (campground.rating > 2.5) { %> checked <% } %>"></span>
                <span class="fa fa-star <% if (campground.rating > 3.5) { %> checked <% } %>"></span>
                <span class="fa fa-star <% if (campground.rating > 4.5) { %> checked <% } %>"></span>
                <% } %>
            </div>
            <p>
                <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
            </p>
        </div>
    </div>
    <% }); %>
</div>
<% include ../partials/footer %>